.classpath
.project
.settings
target
bin
log
hs_err_*
.idea
*.jdbc
**/.idea
**/*.iml
**/*.vpp.bak*
**/*.vbak*
**/*.vpp.lck*
**/*.log
**/*.editorconfig
**/*.checkstyle
**/*.tfstate.backup
**/.terraform
**/*.~lock*
**/documentations/**/*.pdf
**/tests/**/*.pdf
**/.DS_Store
**/._.DS_Store
**/*.jks


